VITE_SUPABASE_URL=https://rqjgsosantjhpyrfnvef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxamdzb3NhbnRqaHB5cmZudmVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyNTk5NTEsImV4cCI6MjA5NTgzNTk1MX0.05sE7mPQPBAr3e4zxkcIfmtjrVtaMZQ2XLgOOGw8spM
